<div class="container">
  <h3 style="text-align: center;">Books and Details</h3>
  <table class="table table-striped table-bordered">
    <tr style="background: lightblue;">
      <th>TITLE</th>
      <th>AUTHOR</th>
      <th>Actoins</th>
      <th>Image</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>
        <img src="data:image/jpeg;base64,{{book.picture}}" />
      </td>
      <td>
        <button (click)="updateBook(book.id)" class="btn btn-warning">Edit</button>
        &nbsp;|&nbsp;
        <button (click)="deleteBook(book.id)" class="btn btn-danger">Delete</button>
        &nbsp;|&nbsp;
        <button (click)="getBookDetail(book.id)" class="btn btn-primary">info</button>
      </td>
    </tr>
    <tr *ngIf="books && books.length == 0">
      <td colspan="3">No records found!</td>
    </tr>
  </table>
</div>

<p-dataView #dv [value]="books" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="title"
  [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
            (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by name" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-book pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="data:image/jpeg;base64,{{book.picture}}" />
      </div>
      <div class="ui-g-12 ui-md-8 book-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Title </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.title}}</b></div>

          <div class="ui-g-2 ui-sm-6">Author: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.author}}</b></div>

          <div class="ui-g-2 ui-sm-6">Created Date: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.createdData}}</b></div>

          <div class="ui-g-2 ui-sm-6">File Name: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.fileName}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="selectBook($event, book)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-book pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="book.vin" [style]="{'text-align':'center'}">
        <img src="data:image/jpeg;base64,{{book.picture}}" />
        <div class="book-detail">{{book.title}} - {{book.author}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="selectBook($event, book)"
          style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="book Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '225px'}" (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedBook">
    <div class="ui-g-12" style="text-align:center">
      <img src="data:image/jpeg;base64,{{selectedBook.picture}}" />
    </div>
    <div class="ui-g-4">Title: </div>
    <div class="ui-g-8">{{selectedBook.title}}</div>

    <div class="ui-g-4">Author: </div>
    <div class="ui-g-8">{{selectedBook.author}}</div>

    <div class="ui-g-4">Created Date: </div>
    <div class="ui-g-8">{{selectedBook.createdData}}</div>

    <div class="ui-g-4">File Name: </div>
    <div class="ui-g-8">{{selectedBook.fileName}}</div>
  </div>
</p-dialog>
